<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.swtchart.extensions.examples.preferences.PreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.PreferencePage"
            name="EAVP Demo Settings">
      </page>
      <!-- Line -->
      <page
      		category="org.eclipse.swtchart.extensions.demos.preferences.PreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.LineSeriesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesPreferencePage"
            name="Line Series">
      </page>
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.LineSeriesPrimaryAxesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesPrimaryAxesPreferencePage"
            name="Primary Axes">
      </page>    
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.LineSeriesSecondaryAxesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesSecondaryAxesPreferencePage"
            name="Secondary Axes">
      </page>
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.LineSeriesDataPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.LineSeriesDataPreferencePage"
            name="Series Data">
      </page>
      <!-- Bar -->
      <page
      		category="org.eclipse.swtchart.extensions.demos.preferences.PreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.BarSeriesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesPreferencePage"
            name="Bar Series">
      </page>
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.BarSeriesPrimaryAxesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesPrimaryAxesPreferencePage"
            name="Primary Axes">
      </page>    
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.BarSeriesSecondaryAxesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesSecondaryAxesPreferencePage"
            name="Secondary Axes">
      </page>
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.BarSeriesDataPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.BarSeriesDataPreferencePage"
            name="Series Data">
      </page>
      <!-- Scatter -->     
      <page
      		category="org.eclipse.swtchart.extensions.demos.preferences.PreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.ScatterSeriesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.ScatterSeriesPreferencePage"
            name="Scatter Series">
      </page>
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.ScatterSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.ScatterSeriesPrimaryAxesPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.ScatterSeriesPrimaryAxesPreferencePage"
            name="Primary Axes">
      </page>
      <page
            category="org.eclipse.swtchart.extensions.demos.preferences.ScatterSeriesPreferencePage"
            class="org.eclipse.swtchart.extensions.examples.preferences.ScatterSeriesDataPreferencePage"
            id="org.eclipse.swtchart.extensions.demos.preferences.ScatterSeriesDataPreferencePage"
            name="Series Data">
      </page>                          
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.swtchart.extensions.examples.preferences.LineSeriesPreferenceInitializer">
      </initializer>
      <initializer
            class="org.eclipse.swtchart.extensions.examples.preferences.BarSeriesPreferenceInitializer">
      </initializer>
      <initializer
            class="org.eclipse.swtchart.extensions.examples.preferences.ScatterSeriesPreferenceInitializer">
      </initializer>      
   </extension>
   <extension
         point="org.eclipse.swtchart.extensions.menuitems">
      <MenuItemSupplier
            MenuEntry="org.eclipse.swtchart.extensions.examples.menu.ResetXAxisHandler">
      </MenuItemSupplier>
      <MenuItemSupplier
            MenuEntry="org.eclipse.swtchart.extensions.examples.menu.ResetYAxisHandler">
      </MenuItemSupplier>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.eclipse.swtchart.extensions.examples.perspective.OverviewPerspective"
            id="org.eclipse.swtchart.extensions.examples.perspective.overview"
            name="Overview">
      </perspective>
      <perspective
            class="org.eclipse.swtchart.extensions.examples.perspective.SecondPerspective"
            id="org.eclipse.swtchart.extensions.examples.perspective.second"
            name="Second">
      </perspective>
      <perspective
            class="org.eclipse.swtchart.extensions.examples.perspective.SWTChartPerspective"
            id="org.eclipse.swtchart.extensions.examples.perspective.swtchart"
            name="SWTChart">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_1_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.lineseries1"
            name="Line Series 1"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_3_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.lineseries3"
            name="Line Series 3"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_4_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.lineseries4"
            name="Line Series 4"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_2_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.lineseries2"
            name="Line Series 2"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_5_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.lineseries5"
            name="Line Series 5"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_6_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.lineseries6"
            name="Line Series 6"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_1_1_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.barseries1_1"
            name="Bar Series 1 / 1"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_1_2_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.barseries1_2"
            name="Bar Series 1 / 2"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_1_3_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.barseries1_3"
            name="Bar Series 1 / 3"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_3_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.barseries3"
            name="BarSeries 3"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$ScatterSeries_2_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.scatterseries2"
            name="Scatter Series 2"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$ScatterSeries_1_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.scatterseries1"
            name="Scatter Series 1"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_2_1_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.barseries2_1"
            name="Bar Series 2 / 1"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_2_2_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.barseries2_2"
            name="Bar Series 2 / 2"
            restorable="true">
      </view>
      <view
            class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$ScatterSeries_3_Part"
            icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            id="org.eclipse.swtchart.extensions.examples.part.scatterseries3"
            name="Scatter Series 3"
            restorable="true">
      </view>


	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_Selection_Part" 

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_Selection_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="Line Series Selection"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$MeasurementSeries_1_Part"

		id="org.eclipse.swtchart.extensions.examples.part.MeasurementSeries_1_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="Measurement Series 1"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$MeasurementSeries_2_Part"

		id="org.eclipse.swtchart.extensions.examples.part.MeasurementSeries_2_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="Measurement Series 2"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_7_HighBackground_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_7_HighBackground_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries 7 HighBackground"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$MeasurementSeries_3_Part"

		id="org.eclipse.swtchart.extensions.examples.part.MeasurementSeries_3_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="MeasurementSeries_3"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_7_Normal_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_7_Normal_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_7_Normal"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_4_Part"

		id="org.eclipse.swtchart.extensions.examples.part.BarSeries_4_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="BarSeries_4"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_8_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_8_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_8"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$BarSeries_Preferences_Part"

		id="org.eclipse.swtchart.extensions.examples.part.BarSeries_Preferences_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="BarSeries_Preferences"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_9_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_9_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_9"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_Edit_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_Edit_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_Edit"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$ScatterSeries_Edit_Part"

		id="org.eclipse.swtchart.extensions.examples.part.ScatterSeries_Edit_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="ScatterSeries_Edit"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_10_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_10_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_10"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_Preferences_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_Preferences_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_Preferences"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$ScatterSeries_Preferences_Part"

		id="org.eclipse.swtchart.extensions.examples.part.ScatterSeries_Preferences_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="ScatterSeries_Preferences"
            restorable="true">
      </view>

	<view class="org.eclipse.swtchart.extensions.examples.perspective.ChartView$LineSeries_Random_Part"

		id="org.eclipse.swtchart.extensions.examples.part.LineSeries_Random_Part" icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
            name="LineSeries_Random"
            restorable="true">
      </view>
 <view
       class="org.eclipse.swtchart.extensions.examples.perspective.SWTChartView"
       icon="platform:/plugin/org.eclipse.swtchart.extensions/icons/16x16/set_range.gif"
       id="org.eclipse.swtchart.extensions.examples.view.swtchart"
       name="SWTChart Examples"
       restorable="false">
 </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="SWTChart">
            <command
                  commandId="org.eclipse.swtchart.extensions.examples.showoverview"
                  label="Overview Perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.swtchart.extensions.examples.showsecond"
                  label="Second Perspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.swtchart.extensions.examples.showswtchart"
                  label="SWTChart Perspective"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.eclipse.swtchart.extensions.examples.perspective.ShowOverviewHandler"
            id="org.eclipse.swtchart.extensions.examples.showoverview"
            name="Show Overview">
      </command>
      <command
            defaultHandler="org.eclipse.swtchart.extensions.examples.perspective.ShowSecondHandler"
            id="org.eclipse.swtchart.extensions.examples.showsecond"
            name="Show Second">
      </command>
      <command
            defaultHandler="org.eclipse.swtchart.extensions.examples.perspective.ShowSWTChartHandler"
            id="org.eclipse.swtchart.extensions.examples.showswtchart"
            name="Show SWTChart">
      </command>
   </extension>

</plugin>
